/* * {
    margin: 0;
    padding: 0;
} */

/*body {*/
/*    background: #000;*/
/*    color: #666;*/
/*}*/

.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 8rem;
    /*border: 2px solid seashell;*/
    overflow: hidden;
    text-align: center;

}

.container ul {
    list-style: none;
    transition: 0.6s;

    transform: translateY(-1rem);

    /*border: 2px solid seashell;*/
}

.container li {
    /*border: 2px solid seashell;*/
    transition: 0.6s;
    /*transform: scale(1.2);*/
    color: aliceblue;
    opacity: 0;
    height: 30px;
    line-height: 30px;
}

.container li.active {
    /*border: 2px solid seashell;*/
    transition: 0.6s;
    opacity: 1;
    transform: scale(1.2);
    color: #cc505f;
    height: 30px;
    line-height: 30px;
}

